<!DOCTYPE html>
<html>
	<head>
  		<title>Cartapp</title>
  		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>
	</head>
	<body>	

		<div class="row">
			
			  <div class="small-4 columns">
			    <h2 class="subheader"><b><font color='blue'</font>KATZ DRUGS PHARMACY</b></h2>
			     
			    <br><br>
				<p>Was established in 1889, Growing and changing at a dramatic pace,
				today <b>KATZ DRUGS PHARMACY</b> is one of the largest and most experienced Independent Pharmacies in Brooklyn New York.
				Our team of pharmacists and well trained and qualified professionals are reliable, and always willing to assist you with all your prescriptions and health related questions.
				we believe in maintaining the traditional and personalized old fashioned customer service to gladly help with every healthcare need.</p>
		  		</div>
		  	<%= image_tag ('Surf.jpg') %>
		</div>
	</body>
</html>

